.c_bg-primary {
    background-color: #FFFFFF !important;
    background-image: linear-gradient(180deg, #FFFFFF 10%, #FAFAFA 100%);
    background-size: cover;
}

#registrationCard > .card-body {
    background: #D1E7DD !important;
}

.c_btn-primary {
    color: #fff;
    background-color: #4F772D;
    border-color: #4F772D;
}
